.limit {
    margin-right: 0.5rem;
}

.button-prev {
    margin: -1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button-next {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}