@import '../assets/styles/vars';

:host {
    width: 800px;
    display: block;
}

h1 {
    position: sticky;
    top: 0;
    width: 100%;
    padding: $padding-standard;
    background: $bg-dark-alt;
    border: 1px solid $border-dark;
    border-top: 0px;
    border-bottom-left-radius: $radius-standard;
    border-bottom-right-radius: $radius-standard;
    color: $text-light;
    text-align: center;
}